{% extends 'base.html' %}
{% load static %}

{% block scripts %}
  <script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
  posts
{% endblock title %}
  

{% block content %}
<h1>lista de posts</h1>
<div id="spinner-border">
  <div class="spinner-border" role="status">
  </div>
</div>
<div id="posts-box"></div>
  <!-- {% for obj in qs %}
    {{obj.title}} - {{obj.body}} <br>
  {% endfor %} -->

  <div id="hello-world"></div>
    
{% endblock content %}
  
